<main id="main" class="main">
  <div
    class="alert alert-danger"
    id="fail-check-out"
    style="display:none; text-align: left;
vertical-align: middle;"
    role="alert"
  >
    Your budget is not enough!
  </div>
  <div
    class="alert alert-success"
    id="success-check-out"
    style="display:none; text-align: left;
vertical-align: middle;"
    role="alert"
  >
    Successful!
  </div>
  <div
    class="alert alert-warning"
    id="notyet-check-out"
    style="display:none; text-align: left;
vertical-align: middle;"
    role="alert"
  >
    Please add product!
  </div>
  <div class="container px-3 my-5 clearfix">
    <!-- Shopping cart table -->
    <div class="card">
      <div class="card-header">
        <h2>Shopping Cart</h2>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered m-0">
            <thead>
              <tr>
                <!-- Set columns width -->
                <th
                  class="text-center py-3 px-4"
                  style="min-width: 400px;"
                >Product Name &amp; Details</th>
                <th
                  class="text-right py-3 px-4"
                  style="width: 100px;"
                >Price</th>
                <th
                  class="text-center py-3 px-4"
                  style="width: 120px;"
                >Quantity</th>
                <th
                  class="text-right py-3 px-4"
                  style="width: 100px;"
                >Total</th>
                <th
                  class="text-center align-middle py-3 px-0"
                  style="width: 40px;"
                ><a
                    href="#"
                    class="shop-tooltip float-none text-light"
                    title=""
                    data-original-title="Clear cart"
                  ><i class="ino ion-md-trash"></i></a></th>
              </tr>
            </thead>
            <tbody id="cartContent">
            </tbody>
          </table>
        </div>
        <!-- / Shopping cart table -->

        <div
          class="d-flex flex-wrap justify-content-between align-items-center pb-4"
        >
          <div class="mt-4">
            <label class="text-muted font-weight-normal">Notes</label>
            <input type="text" placeholder="ABC" class="form-control" id="note-cart" />
          </div>
            <div class="text-right mt-4">
              <label class="text-muted font-weight-normal m-0">Total price</label>
              <div class="text-large"><strong id="total">0</strong></div>
            </div>
          </div>
        </div>

        <div class="float-right">
          <a href="/user/products_menu">
            <button
              type="button"
              class="btn btn-lg btn-secondary md-btn-flat mt-2 mr-3"
            >Back to <menu></menu></button>
          </a>
          <button
            type="button"
            class="btn btn-lg btn-primary mt-2"
            onclick="checkOut()"
          >Checkout</button>
        </div>
      </div>

    </div>
  </div>
</main>