<main id="main" class="main">
    <section class="section profile">
        <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                <!-- Replace "test" with your own sandbox Business account app client ID -->
                <script src="https://www.paypal.com/sdk/js?client-id=Af0PxoOme46Pcp7Q3TMlx9oC68UYUywKd9FIBKzicr0MUuOD8jfrQFQTDQPh6D1BdEViZd8Rgd010iFF&currency=USD"></script>
                <!-- Set up a container element for the button -->
                <div id="paypal-button-container"></div>
            </div>
        </div>
    </section>
</main><!-- End #main -->
<script src = "/assets_niceadmin/js/topup.js"></script>