<main id="main" class="main">
    <div class="card">
        <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
            Accounts Table
        </h3>
        <div class="card-body">
            <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2"
      ><a href="#!" class="text-success"
      ><i class="fas fa-plus fa-2x" aria-hidden="true"></i></a
      ></span>
                <table class="table table-bordered table-responsive-md table-striped text-center">
                    <thead>
                    <tr>
                        <th class="text-center">No.</th>
                        <th class="text-center">Username</th>
                        <th class="text-center">Password</th>
                        <th class="text-center">Budget</th>
                        <th class="text-center">Time</th>
                        <th class="text-center">Rank</th>
                        <th class="text-center">Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="pt-3-half" contenteditable="true">1</td>
                        <td class="pt-3-half" contenteditable="true">abcd</td>
                        <td class="pt-3-half" contenteditable="true">12345</td>
                        <td class="pt-3-half" contenteditable="true">130,000</td>
                        <td class="pt-3-half" contenteditable="true">1:30</td>
                        <td class="pt-3-half" contenteditable="true">Gold</td>
             
                        </td>
                        <td>
              <span class="table-remove"
              ><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">
                  Remove
                </button></span
              >
                        </td>
                    </tr>
                    <!-- This is our clonable table line -->
                    <tr>
                        <td class="pt-3-half" contenteditable="true">2</td>
                        <td class="pt-3-half" contenteditable="true">phuc4570</td>
                        <td class="pt-3-half" contenteditable="true">45704570</td>
                        <td class="pt-3-half" contenteditable="true">10,000</td>
                        <td class="pt-3-half" contenteditable="true">2:45</td>
                        <td class="pt-3-half" contenteditable="true">Diamond</td>
             
                        </td>
                        <td>
              <span class="table-remove"
              ><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">
                  Remove
                </button></span
              >
                        </td>
                    </tr>
                    <!-- This is our clonable table line -->
                    <tr>
                        <td class="pt-3-half" contenteditable="true">3</td>
                        <td class="pt-3-half" contenteditable="true">NoName</td>
                        <td class="pt-3-half" contenteditable="true">nopassword</td>
                        <td class="pt-3-half" contenteditable="true">520,000</td>
                        <td class="pt-3-half" contenteditable="true">15:30</td>
                        <td class="pt-3-half" contenteditable="true">Diamond</td>
              
                        </td>
                        <td>
              <span class="table-remove"
              ><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">
                  Remove
                </button></span
              >
                        </td>
                    </tr>
                    <!-- This is our clonable table line -->
                    <tr class="hide">
                        <td class="pt-3-half" contenteditable="true">4</td>
                        <td class="pt-3-half" contenteditable="true">Hayato</td>
                        <td class="pt-3-half" contenteditable="true">Eskimo123</td>
                        <td class="pt-3-half" contenteditable="true">0</td>
                        <td class="pt-3-half" contenteditable="true">00:05</td>
                        <td class="pt-3-half" contenteditable="true">Copper</td>
              
                        </td>
                        <td>
              <span class="table-remove"
              ><button type="button" class="btn btn-danger btn-rounded btn-sm my-0">
                  Remove
                </button></span
              >
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>