<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                <li class="breadcrumb-item active">Statistic</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="container-chart">
        <div class="row">
            <div class="col-7">
                <div class="combobox">
                    <div class="title-left">
                        <h3>Doanh thu theo tháng</h3>
                    </div>
                    <select onchange="getDataOfYear()" class="wide w-100 combo-box" id="year">
                        <option value="" selected>Năm {{selectedYear}}</option>
                        {{#each allYear}}
                            <option value="">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
                <canvas id="myChart" width="400" height="400">
                </canvas>
            </div>
            <div class="col">
                <div class="top-ten">
                    <div class="title-left">
                        <h3>Top sản phẩm bán chạy</h3>
                    </div>
                    <div class="products">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="js/chart.js"></script>
    <script id="top-product" type="text/x-handlebars-template">
    \{{#each this}}
    <div class="product">
        <img class="product-image"
            src="\{{image_link}}">
        <div class="product-info">
            <p class="product-title"><span class="number-sale">Tên sách: </span>\{{title}}</p>
        </div>
    </div>
    \{{/each}}
</script>
</main><!-- End #main -->