<main id="main" class="main">
    <div class="card">
        <form method="POST" encType="multipart/form-data">
            <h5 class="card-header">
                Accounts Editor
            </h5>
            <div class="card-body">
                <div class="form-group">
                    <label for="txtUserID" class="font-weight-bold">AccountID</label>
                    <input type="text" class="form-control" id="txtUserID" name="UserID" value="{{detail.ID}}" readonly>
                </div>
                <div class="form-group">
                    <label for="txtUserName" class="font-weight-bold">Name</label>
                    <input type="text" class="form-control" id="txtUserName" name="NAME" value="{{detail.NAME}}">
                </div>

                <div class="form-group" class="font-weight-bold">
                    <label for="txtPRICE" class="font-weight-bold">PRICE</label>
                    <input type="text" class="form-control" id="txtPRICE" name="PRICE" value="{{detail.PRICE}}">
                </div>
                <div class="form-group">
                    <label for="CategorySelect">Category</label>
                    <select name="Category" id="CategorySelect" class="form-control">
                        <option value="Cơm">Cơm</option>
                        <option value="Mì">Mì</option>
                        <option value="Nước">Nước</option>
                        <option value="Khác">Khác</option>
                    </select>
                </div>

                <label for="txtIMAGE" class="font-weight-bold">IMAGE</label>
                <input type="file" name="image" accept="image/*"/>
                <div class="card">
                    <img id="image" class="card__image" src="/assets_menu/img/menu/{{detail.IMAGE}}" alt="" width="400" height="300"/>
                </div>
            </div>
            <div class="card-footer text-muted">
                <a class="btn btn-outline-secondary" href="/admin/edit_products" role="button">
                    <i class="fa fa-backward" aria-hidden="true"></i>
                    Back to List
                </a>

                <button type="submit" class="btn btn-outline-dark" formaction="/admin/edit_products/del">
                    <i class="fas fa-user-alt-slash    "></i>
                    Delete
                </button>
                <button type="submit" class="btn btn-dark" formaction="/admin/edit_products/patch">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Save
                </button>
            </div>
        </form>


    </div>

</main>

{{#extend "scripts"}}
    <script type="text/javascript" src="/assets_editproducts/js/upload_image.js"></script>
{{/extend}}